/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Body */
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Grid */
#main {
    display: grid;
    min-height: 200vh;
    width: 99.92%; /* Change this to 100% later */
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 1fr 80px;
    grid-template-areas: "header"
                        "content"
                        "footer";
    opacity: 0.98;
}

/* Grid positions */

/* Header */
.header {
    grid-area: header;
}

.header > div {
    border: 1px solid #28282a;
    background-color: #1B1A1A;
}

    .top-bar {
        height: 15%;
        display: grid;
        width: 100%;
        grid-template-columns: 1.5fr 1.5fr 4fr 0.5fr;
        grid-template-rows: 1fr;
        grid-template-areas: "game-title search-bar buttons .";
    }

    
    @media only screen and (max-width:800px) { /* For tablets and small screens */
        .top-bar {
            grid-template-columns: 1.5fr 1.5fr 6fr;
            grid-template-rows: 1fr;
            grid-template-areas: "game-title search-bar buttons";
        }
    }
    
    @media only screen and (max-width:600px) { /* For phones */
        .top-bar {
            grid-column-gap: 4px;
            grid-template-columns: 1.5fr 1.5fr 0.5fr;
            grid-template-rows: 1fr;
            grid-template-areas: "game-title search-bar buttons";
        }
    }
        .game-title {
            grid-area: game-title;
            position: relative;
            font-size: 12px;
        }

        .game-title > a {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateY(-50%) translateX(-50%);
            text-decoration: none;
            color: whitesmoke;
        }
        
        .game-title > a > h1:hover {
            text-shadow: 0px 0px 10px #fff;
        }

        .search-bar {
            grid-area: search-bar;
            text-align: center;
            position: relative;
        }

        form {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .search {
            box-sizing: border-box;
            border: 2px solid #28282a;
            border-radius: 4px;
            background-color: #28282a;
            background-image: url('../img/searchicon.png');
            background-size: 40px 40px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
            font-size: 16px;
            font-weight: bold;
            color: #a9a9a9;
            width: 100%;
            position: relative;

        }

        .buttons {
            grid-area: buttons;
            text-align: center;
        }

        .buttons > a > img {
            height: 20px;
            width: 20px;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        .buttons > a > div {
            display: none
        }

        @media only screen and (min-width:600px) { /* For normal screens */
            .buttons {
                    grid-area: buttons;
                    display: grid;
                    grid-template-columns: repeat(7, 1fr);
                    grid-template-rows: 1fr;
                    grid-template-areas: "button-news button-about button-forum button-contact button-donate button-login button-signup"
            }

            .buttons > a {
                text-decoration: none;
                position: relative;
            }

            .buttons > a > div {
                margin: 0;
                padding: 0;
                color: #a9a9a9;
                font-size: 8px;
                text-align: center;
                height: 100%;
            }

            .buttons > a > div > h1 {
                position: absolute;
                left: 50%;
                top: 38%;
                transform: translateY(-50%) translateX(-50%);
                font-weight: bold;
            }

            .buttons > a:hover > div > h1 {
                color: whitesmoke;
            }
            
            .buttons > a:hover:not(.active):not(#button-signup):after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 20%;
                border-bottom:2px solid silver;
                box-shadow: 0px 0px 10px #fff;
            }

            .active:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 20%;
                border-bottom:3px solid #f1c40f;
                box-shadow: 0px 0px 10px #f1c40f;
            }

            .active > div > h1 {
                color: whitesmoke
            }

            #button-news {
                grid-area: button-news;
            }
            #button-about {
                grid-area: button-about;
            }
            #button-forum {
                grid-area: button-forum;
            }
            #button-contact {
                grid-area: button-contact;
            }
            #button-donate {
                grid-area: button-donate;
            }
            #button-login {
                grid-area: button-login;
            }
            #button-signup {
                grid-area: button-signup;
            }
            .signup {
                border: 1px solid #f1c40f;
                border-radius: 4px;
                background-color: #f1c40f;
                color: black;
                font-weight: bold;
                width: 80%;
                padding: 8px;
                text-shadow: 1px 0 black;
                letter-spacing: 1px;
            }

            .buttons > a > img {
                display: none;
            }

            .buttons > a > div {
                display: initial;
            }
        }

    .intro {
        height: 85%;
        display: grid;
        grid-template-columns: 0.8fr 1fr;
        grid-template-rows: 1fr 0.5fr 0.3fr 0.5fr;
        grid-template-areas: "gameprice video"
                            "description video"
                            "download video"
                            "socialnetworks video"
    }

    .intro > div {
        color: whitesmoke;
        font-weight: bolder;
    }
        .gameprice {
            grid-area: gameprice;
            position: relative;
            text-align: center;
            display: flex;
            height: 100%;
        }

        .gameprice > p {
            margin-left: 20%;
            align-self: flex-end;
            display: flex;
            letter-spacing: 4px;
            font-size: 13px;
            position: relative;
            text-shadow: 0px 0px 2px whitesmoke;
        }

        .gameprice > p > span:before {
            content: "";
            position: absolute;
            width: 40px;
            height: 2px;
            border: 1px solid #f1c40f;
            background: #f1c40f;
            box-shadow: 0px 0px 10px #f1c40f;
            border-radius: 15px;
            right: 100%;
            margin-right: 10%;
            margin-top: 5%;
        }

        .description {
            grid-area: description;
        }

        .description > p {
            padding: 0;
            margin-left: 13.5%;
            font-size: x-large;
            letter-spacing: 1.3px;
        }

        .download {
            grid-area: download;
        }

        .download > button {
            line-height: 1.5em;
            margin-left: 13%;
            padding: 12px;
            width: 140px;
            background: white;
            border-color: white;
            border: 0px solid #1B1A1A;
            font-weight: bold;
            color: #666666;
            font-size: 12px;
            letter-spacing: 1.5px;
            cursor: pointer;
            box-shadow: 0px 0 3px whitesmoke;
        }

        .download > button::after {
            content: "  ➜";
            font-size: 16px;
            font-weight: bold;
            color: #f1c40f;
            
        }

        .socialnetworks {
            grid-area: socialnetworks;
        }

        .socialnetworks > .images {
            margin-left: 13%;
        }

        .socialnetworks > .images > a > img {
            height: 25px;
            width: 25px;
            margin-right: 2%;
            opacity: 0.3;
        }

        .video {
            grid-area: video;
        }

/* Content */
.content {
    grid-area: content;
    border: 1px solid #28282a;
    background-color: #1B1A1A;
}


/* Footer */
.footer {
    grid-area: footer;
    border: 1px solid #28282a;
    background-color: #1B1A1A;
}

.footer > h1 {
    color: whitesmoke;
    font-size: small;
    position: relative;
    margin: 0;
    padding: 0;
    margin-left: 5%;
    top: 50%;
    transform: translateY(-50%);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: whitesmoke !important;
}