/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Body */
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Grid */
#main {
    display: grid;
    min-height: 250vh;
    width: 100%; /* Change this to 100% later */
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
    grid-template-rows: 0.8fr 1.8fr 80px;
    grid-template-areas: "header"
                        "content"
                        "footer";
    opacity: 0.98;
    background-color: #1B1A1A;
    color: whitesmoke;
    font-weight: bolder;
}

/* Grid positions */

/* Header */
.header {
    grid-area: header;
    position: relative;
}

.header > div {
    border: 1px solid #28282a;
    background-color: rgba(27,26,26,0.9);
}

    .background {
        background-image: url(../img/temporary.jpg);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;  
    }

    .top-bar {
        height: 15%;
        display: grid;
        width: 99.92%;
        grid-template-columns: 1.5fr 1.5fr 4fr 0.5fr;
        grid-template-rows: 1fr;
        grid-template-areas: "game-title search-bar buttons .";
    }

    
    @media only screen and (max-width:800px) { /* For tablets and small screens */
        .top-bar {
            grid-template-columns: 1.5fr 1.5fr 6fr;
            grid-template-rows: 1fr;
            grid-template-areas: "game-title search-bar buttons";
        }
    }
    
    @media only screen and (max-width:600px) { /* For phones */
        .top-bar {
            grid-column-gap: 4px;
            grid-template-columns: 1.5fr 1.5fr 0.5fr;
            grid-template-rows: 1fr;
            grid-template-areas: "game-title search-bar buttons";
        }
    }
        .game-title {
            grid-area: game-title;
            position: relative;
            font-size: 12px;
        }

        .game-title > a {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateY(-50%) translateX(-50%);
            text-decoration: none;
            color: whitesmoke;
        }
        
        .game-title > a > h1:hover {
            text-shadow: 0px 0px 10px #fff;
        }

        .search-bar {
            grid-area: search-bar;
            text-align: center;
            position: relative;
        }

        form {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .search {
            box-sizing: border-box;
            border: 2px solid #28282a;
            border-radius: 4px;
            background-color: #28282a;
            background-image: url('../img/searchicon.png');
            background-size: 40px 40px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
            font-size: 16px;
            font-weight: bold;
            color: #a9a9a9;
            width: 100%;
            position: relative;
            opacity: 0.8;
        }

        .buttons {
            grid-area: buttons;
            text-align: center;
        }

        .buttons > a > img {
            height: 20px;
            width: 20px;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        .buttons > a > div {
            display: none
        }

        @media only screen and (min-width:600px) { /* For normal screens */
            .buttons {
                    grid-area: buttons;
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    grid-template-rows: 1fr;
                    grid-template-areas: "button-news button-about button-contact button-donate button-login button-signup"
            }

            .buttons > a {
                text-decoration: none;
                position: relative;
            }

            .buttons > a > div {
                margin: 0;
                padding: 0;
                color: #a9a9a9;
                font-size: 8px;
                text-align: center;
                height: 100%;
            }

            .buttons > a > div > h1 {
                position: absolute;
                left: 50%;
                top: 38%;
                transform: translateY(-50%) translateX(-50%);
                font-weight: bold;
            }

            .buttons > a:hover > div > h1 {
                color: whitesmoke;
            }
            
            .buttons > a:hover:not(.active):not(#button-signup):after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 20%;
                border-bottom:2px solid silver;
                box-shadow: 0px 0px 10px #fff;
            }

            .buttons > .active:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 20%;
                border-bottom:3px solid #f1c40f;
                box-shadow: 0px 0px 10px #f1c40f;
            }

            .buttons > .active > div > h1 {
                color: whitesmoke
            }

            #button-news {
                grid-area: button-news;
            }
            #button-about {
                grid-area: button-about;
            }
            #button-forum {
                grid-area: button-forum;
            }
            #button-contact {
                grid-area: button-contact;
            }
            #button-donate {
                grid-area: button-donate;
            }
            #button-login {
                grid-area: button-login;
            }
            #button-signup {
                grid-area: button-signup;
            }
            .signup {
                border: 1px solid #f1c40f;
                border-radius: 4px;
                background-color: #f1c40f;
                color: black;
                font-weight: bold;
                width: 80%;
                padding: 8px;
                text-shadow: 1px 0 black;
                letter-spacing: 1px;
            }

            .buttons > a > img {
                display: none;
            }

            .buttons > a > div {
                display: initial;
            }
        }

    @media only screen and (min-height:600px) { /* For screens more than 600px of height */
        .intro {
            height: 85%;
            display: grid;
            grid-template-columns: 0.6fr 1fr;
            grid-template-rows: 0.6fr 0.5fr 0.3fr 0.5fr;
            grid-template-areas: "gameprice video"
                                "description video"
                                "download video"
                                "socialnetworks video";
        }
    }

    @media only screen and (max-height:600px) { /* For screens less than 600px of height */
        .intro {
            height: 85%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 0.1fr 0.1fr 0.2fr 0.2fr;
            grid-template-areas: "gameprice video"
                                "description video"
                                "download video"
                                "socialnetworks video";
        }

        .socialnetworks > .images {
            margin-top: 3%;
        }
    }

    @media only screen and (max-width:600px) { /* For phones */
        .intro {
            height: 85%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0.3fr 1fr 0.3fr 0.5fr;
            grid-template-areas: "gameprice"
                                "description"
                                "download"
                                "socialnetworks";
        }



        .socialnetworks > .images {
            margin-top: 3%;
        }
    }

            .gameprice {
                grid-area: gameprice;
                position: relative;
                text-align: center;
                display: flex;
                height: 100%;
            }

            .gameprice > p {
                margin-left: 30%;
                align-self: flex-end;
                display: flex;
                letter-spacing: 4px;
                font-size: 13px;
                position: relative;
                text-shadow: 0px 0px 2px whitesmoke;
            }

            .gameprice > p > span:before {
                content: "";
                position: absolute;
                width: 40px;
                height: 2px;
                border: 1px solid #f1c40f;
                background: #f1c40f;
                box-shadow: 0px 0px 10px #f1c40f;
                border-radius: 15px;
                right: 100%;
                margin-right: 10%;
                margin-top: 5%;
            }

            .description {
                grid-area: description;
            }

            .description > p {
                padding: 0;
                margin-left: 22.5%;
                font-size: x-large;
                letter-spacing: 1.3px;
            }

            .download {
                grid-area: download;
            }

            .download > button {
                line-height: 1.5em;
                margin-left: 22.5%;
                padding: 12px;
                width: 140px;
                background: white;
                border-color: white;
                border: 0px solid #1B1A1A;
                font-weight: bold;
                color: #666666;
                font-size: 12px;
                letter-spacing: 1.5px;
                cursor: pointer;
                box-shadow: 0px 0 3px whitesmoke;
            }

            .download > button::after {
                content: "  ➜";
                font-size: 16px;
                font-weight: bold;
                color: #f1c40f;
                
            }

            .socialnetworks {
                grid-area: socialnetworks;
            }

            .socialnetworks > .images {
                margin-left: 22.5%;
                width: 50%;
            }

            .socialnetworks > .images > a > img {
                height: 25px;
                width: 25px;
                margin-right: 3%;
                margin-top: 0%;
                opacity: 0.2;
            }

            .images > a > img:hover {
                opacity: 0.9;
            }

            .video {
                opacity: initial;
                grid-area: video;
                position: relative;
            }

            .video > iframe {
                width: 60%;
                height: 70%;
                border: 0px;
                position: absolute;
                top: 50%;
                left: 40%;
                transform: translateY(-50%) translateX(-50%);
            }

/* Content */
.content {
    height: 100%;
    grid-area: content;
    border: 1px solid #28282a;
    background-color: #1B1A1A;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-row-gap: 20px;
    grid-template-rows: 1.15fr 1.15fr 1.5fr 1.15fr;
    grid-template-areas: "teams content-news"
                        "latest-matches content-news"
                        "league-table content-news"
                        "twitter content-news"
}

    .teams {
        grid-area: teams;
    }

    .title {
        height: 8%;
        position: relative;
    }

    .title > p {
        margin: 0;
        padding: 0;
        margin-left: 10%;
        letter-spacing: 4px;
        font-size: 13px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);  
    }

    .title > p > span:before {
        content: "";
        position: absolute;
        width: 25px;
        height: 2px;
        border: 1px solid #f1c40f;
        background: #f1c40f;
        border-radius: 15px;
        right: 100%;
        margin-right: 1%;
        margin-top: 8px;
    }

    /* .pagination {
        clear: both;
        width: 50%;
        height: 7%;
        margin-left: 7%;
    }

    .page {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #666666;
        border: 1px solid black;
        margin-right: 1%;
        float: left;
        cursor: pointer;
        position: relative;
        top: 50%;
        transform: translateY(-50%);  
    } */

    .team-div {
        width: 94%;
        height: 92%;
        overflow: auto;
        white-space: nowrap;
        margin-left: 4%;
    }

    
    .team-div > .team {
        display: inline-block;
        background-color: #161618;
        width: 16%;
        height: 90%;
        margin-bottom: 1%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);  
        margin-right: 7%;
    }


    .team > .team-image {
        width: 100%;
        height: 75%;
        position: relative;
    }

    .team > .team-image > img {
        display: block;
        height: 70%;
        width: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }

    .team > .team-name {
        width: 100%;
        height: 12.5%;
        position: relative;
        text-align: center;
    }

    .team-name > p {
        margin: 0;
        padding: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .team > .team-result {
        width: 100%;
        height: 12.5%;
        position: relative;
        text-align: center;
    }

    .team-result > p {
        margin: 0;
        padding: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .latest-matches {
        grid-area: latest-matches;
    }

    .matches-div {
        width: 94%;
        height: 92%;
        overflow: auto;
        white-space: nowrap;
        margin-left: 4%;
    }

    .match {
        display: inline-block;
        margin-right: 7%;
        height: 90%;
        width: 42%;
        background-color: #161618;
        position: relative;
        top: 50%;
        transform: translateY(-50%);  
        margin-bottom: 1%;
    }

    .match > .match-team-home {
        width: 33.3%;
        height: 100%;
        float: left;
        position: relative;
        text-align: center;
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .match > .match-info {
        width: 33.3%;
        height: 100%;
        float: left;
    }

    .match-info > .match-score {
        height: 50%;
        position: relative;
        white-space: nowrap;
    }

    .match-info > .match-date {
        height: 50%;
        position: relative;
    }

    .match-score > p {
        padding: 0;
        margin: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        font-size: xx-large;
        letter-spacing: 2px;
    }

    .match-date > p {
        margin: 0;
        padding: 0;
        text-align: center;
        font-weight: initial;
        font-size: small;
        opacity: 0.8;
    }

    .match > .match-team-away {
        width: 33.3%;
        height: 100%;
        float: left;
        position: relative;
        text-align: center;
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .match-team-image > img {
        display: block;
        height: 40%;
        width: 60%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }

    .match-team-name {
        width: 98%;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        top: 80%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        font-size: 12px;
    }

    .league-table {
        grid-area: league-table
    }

    .league-table > .title > p > span:before {
        /* Changing color of the title of league-table */
        border: 1px solid #6f5fbf;
        background: #6f5fbf;
    }

    .league-table-div {
        width: 94%;
        height: 92%;
        overflow: auto;
        white-space: nowrap;
        margin-left: 4%;
    }

    .active-button {
        /* Changes the style of the button which is selected */
        background-color: #f1c40f;
        border: 1px solid black;
    }

    .table-league {
        display: inline-table;
        background-color: #161618;
        width: 91%;
        height: 100%;
        text-align: center;
        cursor: default;
        letter-spacing: 2px;
        overflow-y: scroll;
    }

    
    tr:hover:not(:first-child) {
        background: #1B1A1A;
    }
    
    tr:nth-child(2) {
        color: #f1c40f;
    }
    
    .table-stats {
        display: inline-table;
        margin-left: 3%;
        background-color: #161618;
        width: 21%;
        height: 92%;
        text-align: center;
        cursor: default;
        letter-spacing: 2px;
        overflow-y: scroll;
    }

    .table-stats tr:nth-child(2) {
        color: #6f5fbf;
    }

    @media only screen and (max-width: 1024px) { /* Tablets */
        .team-div > .team {
            width: 35%;
        }

        .match {
            width: 89%;
        }
    }

    @media only screen and (max-width: 1024px) and (max-height: 768px) { /* 800x600 and 1024x768*/
        .team-div > .team {
            height: 85%;
            width: 20%;
        }

        .match {
            width: 41%;
        }
    }

    @media only screen and (max-width:600px) { /* Phones */
        .content {
            grid-template-columns: 1fr;
            grid-row-gap: 20px;
            grid-template-rows: 1.15fr 1.15fr 1.5fr 1.15fr;
            grid-template-areas: "teams"
                                "latest-matches"
                                "league-table"
                                "twitter"
        }

        .matches-div {
            margin-left: 0%;
        }

        .team-div {
            margin-left: 0%
        }

        .team-div > .team {
            width: 25%;
        }

        .match {
            width: 87%;
        }
    }

    .twitter {
        grid-area: twitter;
    }

    .twitter > p {
        margin-left: 10%;
        letter-spacing: 4px;
        font-size: 13px;
        position: relative;
    }

    .twitter > p > span:before {
        content: "";
        position: absolute;
        width: 25px;
        height: 2px;
        border: 1px solid #f1c40f;
        background: #f1c40f;
        border-radius: 15px;
        right: 100%;
        margin-right: 1%;
        margin-top: 8px;
    }

    .twitter-timeline {
        margin-left: 2%;
    }


    .content-news {
        grid-area: content-news;
        border: 1px solid red;
    }

/* Footer */
.footer {
    grid-area: footer;
    background-color: #161618;
}

    .footer > h1 {
        color: whitesmoke;
        font-size: small;
        position: relative;
        margin: 0;
        padding: 0;
        margin-left: 5%;
        top: 50%;
        transform: translateY(-50%);
    }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: whitesmoke !important;
}

/* width */
::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    border: 2px solid #28282a;
    background: #161618; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}