/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Body */
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Grid */
#main {
    display: grid;
    min-height: 200vh;
    width: 99.92%; /* Change this to 100% later */
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1fr 80px;
    grid-template-areas: "header"
                        "content"
                        "footer";
}

/* Grid positions */

/* Header */
.header {
    grid-area: header;
}

.header > div {
    border: 1px solid #28282a;
    background-color: #1B1A1A;
}

.top-bar {
    height: 15%;
    display: grid;
    width: 100%;
    grid-template-columns: 1.5fr 1.5fr 4fr 0.5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "game-title search-bar buttons ."
}

@media only screen and (max-width:600px) { /* For phones */
    .top-bar {
        grid-column-gap: 4px;
        grid-template-columns: 1.5fr 5fr 1.5fr;
        grid-template-rows: 1fr;
        grid-template-areas: "game-title search-bar buttons"
    }
}

    .game-title {
        grid-area: game-title;
        position: relative;
        font-size: 12px;
        color: whitesmoke;
    }

    .game-title > h1 {
        position: relative;
        margin: 0;
        padding: 0;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
    }

    .search-bar {
        grid-area: search-bar;
        text-align: center;
    }

    .search-bar > input {
        box-sizing: border-box;
        border: 2px solid #28282a;
        border-radius: 4px;
        background-color: #28282a;
        background-image: url('../img/searchicon.png');
        background-size: 40px 40px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        font-size: 16px;
        font-weight: bold;
        color: #a9a9a9;
        width: 80%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .buttons {
        grid-area: buttons;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: "button-news button-about button-forum button-contact button-donate button-login button-signup"
    }

    .buttons > a {
        text-decoration: none;
        position: relative;
    }

    .buttons > a > div {
        margin: 0;
        padding: 0;
        color: #a9a9a9;
        font-size: 8px;
        text-align: center;
        height: 100%;
    }

    .buttons > a > div > h1 {
        position: relative;
        top: 30%;
        transform: translateY(-50%);
        font-weight: bold;
    }

    .buttons > a:hover > div > h1 {
        color: whitesmoke;
    }
    
    .buttons > a:hover:not(.active):not(#button-signup):after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 20%;
        border-bottom:2px solid silver;
        box-shadow: 0px 0px 10px #fff;
    }

    .active:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 20%;
        border-bottom:3px solid #f1c40f;
        box-shadow: 0px 0px 10px #f1c40f;
    }

    .active > div > h1 {
        color: whitesmoke
    }

    #button-news {
        grid-area: button-news;
    }
    #button-about {
        grid-area: button-about;
    }
    #button-forum {
        grid-area: button-forum;
    }
    #button-contact {
        grid-area: button-contact;
    }
    #button-donate {
        grid-area: button-donate;
    }
    #button-login {
        grid-area: button-login;
    }
    #button-signup {
        grid-area: button-signup;
    }
    .signup {
        border: 1px solid #f1c40f;
        border-radius: 4px;
        background-color: #f1c40f;
        color: black;
        font-weight: bold;
        width: 60%;
        padding: 8px;
        text-shadow: 1px 0 black;
        letter-spacing: 1px;
    }

    .buttons > a > img {
        display: none;
        height: 20px;
        width: 20px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    @media only screen and (max-width:600px) { /* For phones */
        .buttons {
            grid-area: buttons;
            text-align: center;
        }

        .buttons > a > img {
            display: initial;
        }
    }



.intro {
    height: 85%;
}

/* Content */
.content {
    grid-area: content;
    border: 1px solid #28282a;
    background-color: #1B1A1A;
}


/* Footer */
.footer {
    grid-area: footer;
    border: 1px solid #28282a;
    background-color: #1B1A1A;
}

.footer > h1 {
    color: whitesmoke;
    font-size: small;
    position: relative;
    margin: 0;
    padding: 0;
    margin-left: 5%;
    top: 50%;
    transform: translateY(-50%);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: whitesmoke !important;
}