/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Body */
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #1B1A1A;
}

/* Grid */
#main {
    display: grid;
    min-height: 100vh; /*After everything is done change this to auto*/
    width: 100%;
    min-width: 0;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    grid-template-rows: 100px 1fr 60px 60px;
    grid-template-areas: "header"
                         "content"
                         "pagination"
                         "footer";
    opacity: 0.98;
    background-color: #1B1A1A;
    color: whitesmoke;
    font-weight: bolder;
}

@media only screen and (max-width:600px) { /* For phones */
    #main {
        min-height: 100vh;
        grid-template-rows: 65px 1fr 60px 60px;
        grid-row-gap: 5px;
    }
}

/* Grid positions */

/* Header */
.header {
    grid-area: header;
    position: relative;
}

.header > div {
    border: 1px solid #28282a;
    background-color: rgba(27,26,26,0.9);
}

    .background {
        background-image: url(../img/temporary.jpg);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;  
    }

    .top-bar {
        height: 100%;
        display: grid;
        width: 99.8%;
        grid-template-columns: 1.5fr 1.5fr 4fr 0.5fr;
        grid-template-rows: 1fr;
        grid-template-areas: "game-title search-bar buttons .";
    }

    
    @media only screen and (max-width:800px) { /* For tablets and small screens */
        .top-bar {
            grid-template-columns: 1.5fr 1.5fr 6fr;
            grid-template-rows: 1fr;
            grid-template-areas: "game-title search-bar buttons";
        }
    }
    
    @media only screen and (max-width:600px) { /* For phones */
        .top-bar {
            grid-column-gap: 4px;
            grid-template-columns: 1.5fr 1.5fr 0.5fr;
            grid-template-rows: 1fr;
            grid-template-areas: "game-title search-bar buttons";
        }
    }
        .game-title {
            grid-area: game-title;
            position: relative;
            font-size: 12px;
        }

        .game-title > a {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateY(-50%) translateX(-50%);
            text-decoration: none;
            color: whitesmoke;
        }
        
        .game-title > a > h1:hover {
            text-shadow: 0px 0px 10px #fff;
        }

        .search-bar {
            grid-area: search-bar;
            text-align: center;
            position: relative;
        }

        form {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .search {
            box-sizing: border-box;
            border: 2px solid #28282a;
            border-radius: 4px;
            background-color: #28282a;
            background-image: url('../img/searchicon.png');
            background-size: 40px 40px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
            font-size: 16px;
            font-weight: bold;
            color: #a9a9a9;
            width: 100%;
            position: relative;
            opacity: 0.8;
        }

        .buttons {
            grid-area: buttons;
            text-align: center;
        }

        .buttons > div {
            height: 100%;
            width: 100%;
        }

        .buttons > div > a > img {
            height: 40%;
            width: 50%;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }
        
        .dropdown-content {
            display: none;
            position: absolute;
            right: 0;
            top: 100%;
            background-color: #161618;
            width: 100vw;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
        
        .dropdown-content a {
            color: white;
            padding: 12px 16px;
            text-decoration: none;
            display: inline-block;
        }

        .dropdown-content > .active {
            color: #f1c40f;
            text-shadow: 0px 0px 4px #f1c40f;
        }
        
        .dropdown-content a:hover {
            background-color: #1B1A1A;
        }
        
        /* .dropdown:hover .dropdown-content {
            display: block;
        } */

        .buttons > a > div {
            display: none
        }

        @media only screen and (min-width:600px) { /* For normal screens */
            .buttons {
                    grid-area: buttons;
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    grid-template-rows: 1fr;
                    grid-template-areas: "button-home button-news button-league button-about button-contact button-login"
            }

            .buttons > a {
                text-decoration: none;
                position: relative;
            }

            .buttons > a > div {
                margin: 0;
                padding: 0;
                color: #a9a9a9;
                font-size: 8px;
                text-align: center;
                height: 100%;
            }

            .buttons > a > div > h1 {
                position: absolute;
                left: 50%;
                top: 38%;
                transform: translateY(-50%) translateX(-50%);
                font-weight: bold;
            }

            .buttons > a:hover > div > h1 {
                color: white;
            }
            
            .buttons > a:hover:not(.active):not(#button-login):after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 20%;
                border-bottom:2px solid silver;
                box-shadow: 0px 0px 10px #fff;
            }

            .buttons > .active:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 20%;
                border-bottom:3px solid #f1c40f;
                box-shadow: 0px 0px 10px #f1c40f;
            }

            .buttons > .active > div > h1 {
                color: whitesmoke
            }

            #button-home {
                grid-area: button-home;
            }
            #button-news {
                grid-area: button-news;
            }
            #button-league {
                grid-area: button-league;
            }
            #button-about {
                grid-area: button-about;
            }
            #button-contact {
                grid-area: button-contact;
            }
            #button-login {
                grid-area: button-login;
            }
            .login {
                border: 1px solid #f1c40f;
                border-radius: 4px;
                background-color: #f1c40f;
                color: black;
                font-weight: bold;
                width: 80%;
                padding: 8px;
                text-shadow: 1px 0 black;
                letter-spacing: 1px;
            }

            .buttons > div {
                display: none;
            }

            .buttons > a > div {
                display: initial;
            }
        }

/* CONTENT */
    .content {
        height: 100%;
    }

    .news {
        width: 95%;
        padding: 10px;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .new {
        flex: 0 0 auto;
        height: 480px;
        width: 435px;
        border: 4px solid #161618;
        box-shadow: 4px 4px 0px #28282a;
        /* margin: 0 auto; */
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 1%;
        display: none;
    }

    .pagination {
        grid-area: pagination;
        width: 95%;
        height: 60px;
        margin: 0 auto;
    }

    .pagination > button {
        cursor: pointer;
        width: 300px;
        height: 50px;
        border: 5px solid #28282a;
        background-color: #161618;
        border-radius: 10px;
        color: #f1c40f;
        font-weight: bold;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        position: relative;
    }

    .new_picture {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 50%;
    }

    .new_text {
        width: 100%;
        height: 35%;
        font-size: medium;
    }

    .new_text > span, .new_author > span {
        display: block;
        letter-spacing: 1px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .new_author {
        width: 90%;
        height: 10%;
        border: 3px solid #28282a;
        padding: 5px;
        margin: 0 auto;
    }

    @media only screen and (max-width: 1366px) {
        /* .new {
            width: 35%;
            height: 10.1%;
        } */
    }

    @media only screen and (max-width: 600px) {
        .new {
            width: 95%; /* Increase this later*/
            height: 400px;
        }
    }

/* Footer */
.footer {
    grid-area: footer;
    background-color: #161618;
}

    .footer > h1 {
        color: whitesmoke;
        font-size: small;
        position: relative;
        margin: 0;
        padding: 0;
        margin-left: 5%;
        top: 50%;
        transform: translateY(-50%);
    }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: whitesmoke !important;
}

/* width */
::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    border: 2px solid #28282a;
    background: #161618; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .1} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .1} 
    to {opacity: 1}
  }